* {
    box-sizing: border-box;
}
img {
    width: 100%;
}

body {
    background:lightcoral;
}

#start {
    margin-top: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: lightgrey;
    border: none;
}

#timer {
    margin-top: 50px;
}