* {
    box-sizing: border-box;
}
img {
    width: 300px;
    border-radius: 50%;
}

body {
    padding:100px;
    background: linear-gradient(150deg, lightcoral, lightgray);
}

#start {
    margin-top: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: lightgrey;
    border: none;
}

#timer {
    margin-top: 50px;
}